<!-- Bootstrap core CSS -->
{{!-- <link href="dist/css/bootstrap.min.css" rel="stylesheet"> --}}

{{!-- <!-- Icons -->
    <link href="/public/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> --}}
<!-- Custom styles for this template -->
<link href="css/style.css" rel="stylesheet">

<div class="container-fluid" id="wrapper">
	<div class="row">
		<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2">
			<br><br><br><br><br><br><br>
			<h1 class="site-title"><a href="#"><em class="fa fa-rocket"></em> Sisconvi</a></h1>

			<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
			<ul class="nav nav-pills flex-column sidebar-nav">
				{{!-- <li class="nav-item"><a class="nav-link active" href="#"><em class="fa fa-dashboard"></em> Dashboard <span class="sr-only">(current)</span></a></li> --}}
				<li class="nav-item"><a class="nav-link" href="#"><em class="fa fa-calendar-o"></em> Gerenciamento de
						visitantes</a></li>
				<li class="nav-item"><a class="nav-link" href="#"><em class="fa fa-bar-chart"></em> Relatorio</a></li>
				{{!-- <li class="nav-item"><a class="nav-link" href="#"><em class="fa fa-pencil-square-o"></em> Relatorio</a></li> --}}
				<li class="nav-item"><a class="nav-link" href="#"><em class="fa fa-hand-o-up"></em> Ramais</a></li>
				<li class="nav-item"><a class="nav-link" href="#"><em class="fa fa-clone"></em> Gerenciamento de
						Usuarios</a></li>
			</ul>
			<a href="#" class="logout-button"><em class="fa fa-power-off"></em> sair</a>
		</nav>
	</div>
</div>