{{!-- CSS expecifico da pagina de login --}}
   <link rel="stylesheet" href="/css/principal.css">


<div class="container-fluid">
    <div class="row">
        <div id="vermelho" class="col-12"></div>

    </div>

    <div class="row">
        <div id="azul" class="col-sm-2"></div>
        <div id="preto" class="col-sm-10"></div>
    </div>

    <div id="amarelo"></div>

    <div class="row">
        <div id="verde" class="col-12"></div>

    </div>

</div>