
body {
	background: #eee !important;	
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

}

#header{
    background-color: #3e67b1;
    color: #fff;
    background-image: -webkit-radial-gradient(center,ellipse cover,#3a72bc 1%,#2160bd 100%);

}

#img-logo{
    margin-left: 25%;
    float: left;
    /* float: left; */
    /* padding-top: 15px; */
    
}

#cabecalho{
    padding: 15px;
}