#azul{
    background-color: blue;
    min-height: 400px;
}
#vermelho{
    background-color:crimson;
    height: 120px;
}
#preto{
    background-color:black;
    min-height: 790px;
}
#amarelo{
    background-color:yellow;
    
}
#verde{
    background-color:green;
    height: 40px;
}